@font-face {
    font-family: "e-UkraineHead";
    src: url("fonts/e-UkraineHead-Bold.woff") format("woff")
}

@font-face {
    font-family: "e-Ukraine";
    src: url("fonts/e-Ukraine-Regular.woff") format("woff");
    font-weight: 400
}

body {
    margin: 0;
    padding: 0
}

.card {
    padding: 100px 0;
    background-color: #f5f6fa
}

.container {
    margin: 0px auto;
    max-width: 1100px;
    padding: 0 20px
}

.card__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.card__wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.card__item {
    width: calc(50% - 10px);
    text-align: center;
    padding: 40px 40px 80px;
    border-radius: 15px;
    border: 3px solid #fff;
    margin-bottom: 20px
}

.card__item.lightblue {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgb(223, 243, 253)), to(rgb(246, 246, 251)));
    background: linear-gradient(180deg, rgb(223, 243, 253) 5%, rgb(246, 246, 251) 100%)
}

.card__item.lightred {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgb(249, 232, 222)), to(rgb(245, 245, 250)));
    background: linear-gradient(180deg, rgb(249, 232, 222) 5%, rgb(245, 245, 250) 100%)
}

.card__item.lightviolet {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgb(225, 218, 253)), to(rgb(246, 246, 251)));
    background: linear-gradient(180deg, rgb(225, 218, 253) 5%, rgb(246, 246, 251) 100%)
}

.card__item.lightyellow {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgb(227, 240, 173)), to(rgb(246, 247, 251)));
    background: linear-gradient(180deg, rgb(227, 240, 173) 5%, rgb(246, 247, 251) 100%)
}

.card__item .info {
    font-family: "e-Ukraine";
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 20px;
    font-size: 18px
}

.card__item .title {
    font-family: "e-UkraineHead";
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px;
    font-size: 28px;
    line-height: 150%
}

.card__item .description {
    font-family: "e-Ukraine";
    font-weight: 400;
    text-align: center;
    width: 75%;
    margin: 0 auto 30px;
    font-size: 16px;
    line-height: 140%
}

.card__item .btn {
    margin: 0 auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 52px;
    border-radius: 25px;
    border: 2px solid #000;
    color: #000;
    padding: 10px 40px;
    text-decoration: none;
    font-family: "e-Ukraine";
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease
}

.card__item .btn svg {
    margin: 3px 0 0 5px;
    width: 25px;
    background-size: cover;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease
}

.card__item .btn:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.card__item .btn:hover svg {
    -webkit-transform: translateX(5px);
    transform: translateX(5px)
}

@media (max-width:768px) {
    .card__wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .card__item {
        max-width: 500px;
        width: 100%
    }
}

@media (max-width:576px) {
    .card__item {
        padding: 30px 25px 50px;
        margin-bottom: 20px
    }

    .card__item .description {
        width: 100%
    }

    .card__item .title {
        font-size: 24px
    }

    .card__item .btn {
        max-width: 300px;
        width: 100%;
        padding: 10px
    }
}

@media (max-width:375px) {
    .card__item .btn {
        font-size: 14px;
        height: 50px
    }
}